* {
	box-sizing: border-box;

	}

body {
	margin: 0;
	padding:0;
	-background: url("../img/back.jpg") no-repeat;
	-background-attachment: fixed;
	-background-position: bottom;
	-background-size: auto;

	-display:flex;
	-flex-direction:column;
	font-family: 'Yanone Kaffeesatz', sans-serif;

	}	
	
.b-header {
	width:100%;
	position:fixed;
	top:0;
	z-index:999;
	background:white;
	display:flex;
	justify-content: center;
	}

		
.b-navigation {
	display:flex;
	-background-image: url("../img/logo.jpg");
	-background-repeat:no-repeat;
	-background-position: left top;
	-background-size: 200px 200px;
	-padding: 60px 0;
	width: 100%;
	max-width: 1170px;
	justify-content: center;
	align-items: center;
	-background-clip: padding-box;
	}
	

	
.b-navigation__list {
	list-style:none;
	display:flex;
	justify-content: flex-end;
	align-items: center;
	width:100%;
	height:180px;
	max-width: 1170px;
	background-image: url("../img/logo.jpg");
	background-repeat:no-repeat;
	background-position: left -10px;
	background-size: 200px 200px;
	padding: 0 0;
	margin:0 0;
	transition: all 0.5s;
	}	

.m-shrink {
	height:80px;
	background-size: 80px 80px;
	background-position: left top;
	align-items: center;

	}		
	
.b-navigation__item {
	
	-border: 1px solid green;
	padding-right: 20px;
	flex-basis:content;
	}	


	
.b-navigation__link {
	text-decoration: none;
	color: #333333;
	text-transform:uppercase;
	font-size: 3em;
	}	
	
	.b-navigation__link:hover {
	transition: all 0.2s;
	color:#cc0000;
	}
		
.b-slider {
	width: 100%;
	-margin: 0 auto;
	margin-top: 180px;
	background: white;
	display:flex;
	justify-content: center;
	position:relative;
	top:0;
}	

.b-slider__image {
	width:100%;
	max-width: 1170px;

}	


.b-gallery {
	width: 100%;
	background-color: white;
	padding:20px;
	display:flex;
	justify-content: center;
	align-items:center;
	flex-direction: column;
	}	

.b-gallery__title {
	font-weight: normal;
	border-top: 2px solid lightgrey; 
	padding: 50px 100px 0 100px;
}
	
.b-gallery__list {
	display: flex;
	justify-content: space-between;
	list-style:none;
	width:100%;
	max-width:1170px;
	padding:0;
	}	

.b-gallery__item {
	flex-basis: 350px;
	}

.b-gallery__item-title {
	font-weight: normal;
	}
	
.b-gallery__link {
	text-decoration:none;
	}	
	
.b-gallery__img {
	width:100%;
	max-width:350px;
	max-height: 300px;
	}	

.b-about {
	margin: 0 auto;
	width:100%;
	color: white;
	background: url("https://pp.userapi.com/c621700/v621700996/63b3/QdjkzWZ5ja0.jpg") no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	background-position: bottom;
	display:flex;
	align-items:center;
	flex-direction:column;
	padding: 15px;
	}
	
.b-about__title, .b-about__text {
	background: #000;
	font-weight:normal;
	padding: 5px;
	opacity:0.8;
	}

.b-footer {
	width: 100%;
	height: 200px;
	background-color: #333333;
	border-top: 2px solid #fff;
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 15px;
	}	

.b-footer__title, .b-footer__address {
	max-width: 1170px;
	width: 100%;
	color: white;
	font-weight:normal;
	}	
	
.b-footer__title {
	text-transform: uppercase;
	}	

	
.b-footer__list {
	list-style:none;
	}

.b_footer__mail {
	text-decoration: none;
	color: inherit;
	}

.b_footer__mail:hover {
	color: #cc0000;
	}
	
@media (max-width: 846px) {
	.b-navigation__link {font-size: 2em}
}	
