* {
	box-sizing: border-box;

	}

body {
	margin: 0;
	padding:0;
	-background: url("../img/back.jpg") no-repeat;
	-background-attachment: fixed;
	-background-position: bottom;
	-background-size: auto;

	-display:flex;
	-flex-direction:column;
	font-family: 'Yanone Kaffeesatz', sans-serif;

	}	
	
.b-header {
	width:100%;
	position:fixed;
	top:0;
	z-index:999;
	background:white;
	display:flex;
	justify-content: center;
	}

		
.b-navigation {
	display:flex;
	-background-image: url("../img/logo.jpg");
	-background-repeat:no-repeat;
	-background-position: left top;
	-background-size: 200px 200px;
	-padding: 60px 0;
	width: 100%;
	max-width: 1170px;
	justify-content: center;
	align-items: center;
	-background-clip: padding-box;
	}
	

	
.b-navigation__list {
	list-style:none;
	display:flex;
	justify-content: flex-end;
	align-items: center;
	width:100%;
	height:180px;
	max-width: 1170px;
	background-image: url("../img/logo.jpg");
	background-repeat:no-repeat;
	background-position: left -10px;
	background-size: 200px 200px;
	padding: 0 0;
	margin:0 0;
	transition: all 0.5s;
	}	

.m-shrink {
	height:80px;
	background-size: 80px 80px;
	background-position: left top;
	align-items: center;

	}		
	
.b-navigation__item {
	
	-border: 1px solid green;
	padding-right: 20px;
	flex-basis:content;
	}	


	
.b-navigation__link {
	text-decoration: none;
	color: #333333;
	text-transform:uppercase;
	font-size: 3em;
	}	
	
	.b-navigation__link:hover {
	transition: all 0.2s;
	color:#cc0000;
	}
		
.b-slider {
	width: 100%;
	-margin: 0 auto;
	margin-top: 180px;
	background: white;
	display:flex;
	justify-content: center;
	position:relative;
	top:0;
}	

.b-slider__image {
	width:100%;
	max-width: 960px;

}	


.b-gallery {
	width: 100%;
	background-color: white;
	padding:20px;
	display:flex;
	justify-content: center;
	align-items:center;
	flex-direction: column;
	}	

.b-gallery__title {
	font-weight: normal;
	border-top: 2px solid lightgrey; 
	padding: 50px 100px 0 100px;
}
	
.b-gallery__list {
	display: flex;
	justify-content: space-between;
	flex-wrap:wrap;
	list-style:none;
	width:100%;
	max-width:1170px;
	padding:0;
	}	

.b-gallery__item {
	-flex-grow: 1;
	width:350px;
	}

	
.b-gallery__item_title {
	font-weight: normal;
	}
	
.b-gallery__link {
		text-decoration:none;
	}	

.b-gallery__item-name {
	display:block;
	-border-radius:20px;
	max-height:233px;
	height:auto;
	text-align: center;
	color: white;
	background-color:#333;
	background-size: 100%;
	background-repeat:no-repeat;
	font-size: 3em;
	line-height:5em;
	text-transform: uppercase;
	}	
		
.m-frame {
	background-image:url("../img/gallery/frame.jpg");
	}	

.m-carrier {
	background-image:url("../img/gallery/carrier.jpg");
	}	

.m-armor {
	background-image:url("../img/gallery/armor.jpg");
	}		
	
.b-gallery__item-name:hover {
	background-blend-mode: overlay;
	}		
	
.b-gallery__img {
	width:100%;
	-max-width:350px;
	-max-height: 233px;
	}	

.b-about {
	width:100%;
	color: white;
	background-color:#d9d4c1;
	background-image: url("../img/back.jpg");
	-background-blend-mode: multiply; 
	background-attachment: fixed;
	background-size: 100%;
	background-position: bottom;
	-display:flex;
	-align-items:center;
	-flex-direction:column;
	-justify-content:center;
	padding: 15px;
	}
	
.b-about__container {
	display:flex;
	flex-direction:column;
	width:100%;
	max-width: 1170px;
	margin: 0 auto;
	-padding: 20px;
}	
	
.b-about__title, .b-about__text {
	font-weight:normal;
	max-width:1170px;
	}

	
.b-footer {
	background-color: #111;
	}	
	
.b-footer__container {
	width: 100%;
	max-width:1170px;
	display:flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0 20px;
	}	

.b-footer__address {
	color: #9a9a9a;
	font-weight:normal;
	flex:1;
	}	
		
.b-footer__social {
	list-style:none;
	display: flex;
	justify-content:center;
	flex:1;
	padding-left: 0;
	}


	
.b-footer__social-item {
	background-size: 40px;
	background-position: 0 0;
	background-repeat: no-repeat;
	height: 40px;
	padding-left: 3em;
	padding-top: 1em;
	padding-right: 1em;
	flex:1;
	}

.m-icon-vk {
	background-image:url("../img/icons/vk.svg");
	}	
	
.m-icon-fb {
	background-image:url("../img/icons/facebook.svg");
	}		
	
.m-icon-inst {
	background-image:url("../img/icons/twitter.svg");
	}	
	
.b-footer__social-link {
	color: #999;
	text-decoration: none;
	}

.b-footer__email {
	flex:1;
	text-align:right;
}	
	
.b_footer__link {
	text-decoration: none;
	color: inherit;
	font-size:1.5em;
	color:#9a9a9a;
	flex:1;
	font-weight: normal;
	}

.b_footer__link:hover {
	color: #cc0000;
	}
	
@media (max-width: 846px) {
	.b-navigation__link {font-size: 2em}
}	

@media (max-width: 1106px) {
	.b-gallery__list {justify-content: center;
	align-items: center;
	flex-direction: column;
	}
}	
